In [1]:
from neattext.functions import  remove_emails, fix_contractions, remove_numbers,remove_emojis,remove_special_characters, \
                                remove_stopwords, remove_html_tags, remove_urls, remove_puncts,remove_custom_pattern

from neattext.pipeline import TextPipeline


from transformers import BertTokenizer, BertForSequenceClassification
import transformers

import pandas as pd
import re

In [2]:
# Chat GPT3
def remove_multiple_spaces(text):
    cleaned_text = re.sub(r'\s+', ' ', text)
    return cleaned_text


def clean_tweet(tweet):
    tweet = remove_emails(tweet)
    tweet = fix_contractions(tweet)
    tweet = remove_emojis(tweet)
    tweet = remove_urls(tweet)
    tweet = remove_html_tags(tweet)
    tweet = remove_custom_pattern(tweet, r'[^a-zA-Z0-9+\-%\&\?\!\.\,\s]')
    tweet = remove_custom_pattern(tweet, r'@\w+|#\w+|Re-pinging')
    tweet = remove_multiple_spaces(tweet)

    return tweet

In [3]:
def remove_specific_patterns(text, pattern):
    return remove_custom_pattern(text, pattern)      

def specific_cleaning(text):
    specific_cleaning = TextPipeline(steps=[remove_emails, fix_contractions, remove_emojis, remove_html_tags, remove_urls])
    return specific_cleaning.fit(text)

def final_cleaning(text, pattern):
    msg = remove_specific_patterns(text, pattern)
    almost_clean_text = specific_cleaning(msg)
    return almost_clean_text

In [67]:
texto = "I'm This is -66% +55 the mail example@gmail.com ,our WEBSITE is https://example.com ðŸ˜Š."
texto = clean_tweet(texto)

texto

'i am this is -66% +55 the mail ,our website is .'

In [44]:
#finbert for sentiment analysis
finbert = BertForSequenceClassification.from_pretrained('yiyanghkust/finbert-tone',num_labels=3)
tokenizer = BertTokenizer.from_pretrained('yiyanghkust/finbert-tone')


def sentiment_analysis(text):
    inputs = tokenizer(text, return_tensors="pt", padding=True)
    outputs = finbert(**inputs)[0]
    return outputs.argmax().item()

In [45]:
def sentiment_analysis(text):
    inputs = tokenizer(text, return_tensors="pt", padding=True)
    outputs = finbert(**inputs)[0]
    return outputs.argmax().item()

In [46]:
finbert_fls = BertForSequenceClassification.from_pretrained('yiyanghkust/finbert-fls',num_labels=3)
tokenizer_fls = BertTokenizer.from_pretrained('yiyanghkust/finbert-fls')


def fls_classification(text):
    inputs = tokenizer_fls(text, return_tensors="pt", padding=True)
    outputs = finbert_fls(**inputs)[0]
    return outputs.argmax().item()

In [4]:
tweets = "C:\\Users\\Borba\\Documents\\GitHub\\stock_price_streamlit_app\\tweets\\stock_market_tweets.csv"

In [6]:
df = pd.read_csv(tweets)

In [7]:
df["body"] = df["body"].apply(lambda x: x.lower())

In [8]:
df_test = df.sample(3000)

In [9]:
df_test["clean_message"] = df["body"].apply(lambda x: clean_tweet(x))

In [10]:
df_test[["body" , "clean_message"]]

,body,clean_message
1613196,earnings coming - excercise caution on er play...,earnings coming - excercise caution on er play...
1109060,did you like the part where elon said $tsla wa...,did you like the part where elon said tsla was...
1212428,the s&p has a 20.6% weighting in its top 10 na...,the s p has a 20.6% weighting in its top 10 na...
1502634,happy belated $tsla earnings miss everyone!,happy belated tsla earnings miss everyone
1330525,$amzn i did go into nvda by doubling the posit...,amzn i did go into nvda by doubling the posit...
...,...,...
842764,remember the last time @nba finals did not fea...,remember the last time nba finals did not feat...
1250850,$googl calls above $1098.20,googl calls above 1098.20
116325,#sentishiftup $ibm $spx $uup $es $ndx $xom $ms...,sentishiftup ibm spx uup es ndx xom msft dis ...
475539,#microsoft $msft doubles #azure #sql database ...,microsoft msft doubles azure sql database rea...
1306327,#babycharts #fraudwatch day 46this is the best...,babycharts fraudwatch day 46this is the best ...

In [53]:
df_test["sentiment_analysis"] = df_test["clean_message"].apply(lambda x: sentiment_analysis(x))

<ipython-input-53-06edbe03d645>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["sentiment_analysis"] = df_test["clean_message"].apply(lambda x: sentiment_analysis(x))

In [54]:
df_test["fls_classification"] = df_test["clean_message"].apply(lambda x: fls_classification(x))

<ipython-input-54-af7108ce3146>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["fls_classification"] = df_test["clean_message"].apply(lambda x: fls_classification(x))

In [32]:
#salvar o arquivo para nÃ£o precisar rodar novamente
df_test.to_csv("C:\\Users\\Borba\\Documents\\GitHub\\stock_price_streamlit_app\\tweets\\stock_market_tweets_clean_test.csv", index=False)

In [2]:
df_test = pd.read_csv("C:\\Users\\Borba\\Documents\\GitHub\\stock_price_streamlit_app\\tweets\\stock_market_tweets_clean_test.csv")

In [17]:
df_test[181:182]

,Unnamed: 0,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,clean_message,Sentiment
181,1035400,1030319910063366145,PlugInFUD,2018-08-17,"sec investing multiple things, internal counse...",1,0,0,TSLA,"sec investing multiple things, internal counse...",NaN

In [15]:
index = 0

In [12]:
# df_test['Sentiment'] = None
# df_test['Relevant'] = None

# Iterate through the DataFrame
for index, row in df_test[181:].iterrows():
    # Read the text from the "Text" column
    text = row['clean_message']
    company = row['ticker_symbol']
    body = row['body']
    labels = {0:'neutral', 1:'positive',2:'negative'}


    # Get the user input for the sentiment value
    sentiment = input(f"Enter sentiment for {company}: '{text}': and '{body}' ")
    
    # Get the user input for the relevant value
    # relevant = input(f"Enter relevant value for {company}: '{text}': ")
    if sentiment == 'exit':
        df_test.to_csv("C:\\Users\\Borba\\Documents\\GitHub\\stock_price_streamlit_app\\tweets\\stock_market_tweets_clean_test.csv", index=False)
        break
    # Update the "Sentiment" and "Relevant" columns with the user-provided values
    df_test.at[index, 'Sentiment'] = sentiment
    
    
    # df_test.at[index, 'Relevant'] = relevant

142  Unnamed: 0                                                 1714089
tweet_id                                       1187155754853261312
writer                                              Pivotal_Pivots
post_date                                               2019-10-23
body             $tsla the low this year was on the annual ys2 ...
comment_num                                                      0
retweet_num                                                      4
like_num                                                         4
ticker_symbol                                                 TSLA
clean_message     tsla the low this year was on the annual ys2 ...
Sentiment                                                      NaN
Name: 142, dtype: object
143  Unnamed: 0                                                 1435043
tweet_id                                       1114610982528020480
writer                                             KennethMilesTa2
post_date                                               2019-04-06
body             growing $tsla product by 100% by the end of 20...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 TSLA
clean_message    growing tsla product by 100% by the end of 201...
Sentiment                                                      NaN
Name: 143, dtype: object
144  Unnamed: 0                                                  422914
tweet_id                                        770943576733655041
writer                                                optioncharts
post_date                                               2016-08-31
body             $tsla high open interest range is 215.00 to 22...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 TSLA
clean_message     tsla high open interest range is 215.00 to 22...
Sentiment                                                      NaN
Name: 144, dtype: object
145  Unnamed: 0                                                  923991
tweet_id                                       1006966620449718272
writer                                                BullishCross
post_date                                               2018-06-13
body             we just repurchased our july 6 $190 calls that...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         1
ticker_symbol                                                 AAPL
clean_message    we just repurchased our july 6 190 calls that ...
Sentiment                                                      NaN
Name: 145, dtype: object
146  Unnamed: 0                                                  619641
tweet_id                                        879786756584882176
writer                                             JohnConstintine
post_date                                               2017-06-27
body             $fb $amzn $aapl $nflx $goog #faang #pigpile or...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 AAPL
clean_message     fb amzn aapl nflx goog faang pigpile or stamp...
Sentiment                                                      NaN
Name: 146, dtype: object
147  Unnamed: 0                                                  303235
tweet_id                                        709357734555025408
writer                                                    32Trades
post_date                                               2016-03-14
body             august 2010 chart showing when the $lqmt $aapl...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 AAPL
clean_message    august 2010 chart showing when the lqmt aapl d...
Sentiment                                                      NaN
Name: 147, dtype: object
148  Unnamed: 0                                                  230455
tweet_id                                        666949413286342656
writer                                                TradingGuyde
post_date                                               2015-11-18
body             #service #hardware :)! $aapl - goldman adds ap...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         1
ticker_symbol                                                 AAPL
clean_message     service hardware aapl - goldman adds apple aa...
Sentiment                                                      NaN
Name: 148, dtype: object
149  Unnamed: 0                                                 1088713
tweet_id                                       1040297988193742849
writer                                                   zerosum24
post_date                                               2018-09-13
body             @elonmusk just picked up our @tesla m3 & guess...
comment_num                                                      1
retweet_num                                                      1
like_num                                                         0
ticker_symbol                                                 TSLA
clean_message     elonmusk just picked up our tesla m3 guess wh...
Sentiment                                                      NaN
Name: 149, dtype: object
150  Unnamed: 0                                                  811618
tweet_id                                        969558160489947138
writer                                                 EnerTuition
post_date                                               2018-03-02
body             $tsla bulls may celebrate but the reality is s...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         1
ticker_symbol                                                 TSLA
clean_message     tsla bulls may celebrate but the reality is s...
Sentiment                                                      NaN
Name: 150, dtype: object
151  Unnamed: 0                                                   28191
tweet_id                                        562768697727934464
writer                                              jandrewstrauss
post_date                                               2015-02-04
body             $hcsg $adpt $zoes $bx $dis $aapl $stbz  #money...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 AAPL
clean_message           hcsg adpt zoes bx dis aapl stbz moneytrain
Sentiment                                                      NaN
Name: 151, dtype: object
152  Unnamed: 0                                                  384838
tweet_id                                        747422292032925696
writer                                                 TradingGuru
post_date                                               2016-06-27
body             rt $qqq hft algos triggered sell in sigma-x, c...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 AAPL
clean_message    rt qqq hft algos triggered sell in sigma-x, cr...
Sentiment                                                      NaN
Name: 152, dtype: object
153  Unnamed: 0                                                  312800
tweet_id                                        714835335088381953
writer                                                SharePlanner
post_date                                               2016-03-29
body             $nflx and $amzn charts are looking mint right ...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 AMZN
clean_message     nflx and amzn charts are looking mint right n...
Sentiment                                                      NaN
Name: 153, dtype: object
154  Unnamed: 0                                                 1053240
tweet_id                                       1033450669066280961
writer                                                         NaN
post_date                                               2018-08-25
body             you are either a fool or a shill.trying to cov...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         3
ticker_symbol                                                 TSLA
clean_message    you are either a fool or a shill.trying to cov...
Sentiment                                                      NaN
Name: 154, dtype: object
155  Unnamed: 0                                                 1610650
tweet_id                                       1155182827685761025
writer                                                 aissoftware
post_date                                               2019-07-27
body             "do not trade every day of the year."-jesse li...
comment_num                                                      0
retweet_num                                                      1
like_num                                                         6
ticker_symbol                                                 TSLA
clean_message     do not trade every day of the year. -jesse li...
Sentiment                                                      NaN
Name: 155, dtype: object
156  Unnamed: 0                                                 1462895
tweet_id                                       1120821714018099201
writer                                                 JackWildcat
post_date                                               2019-04-23
body             seriously anybody who believes a tesla car wil...
comment_num                                                      1
retweet_num                                                      0
like_num                                                         2
ticker_symbol                                                 TSLA
clean_message    seriously anybody who believes a tesla car wil...
Sentiment                                                      NaN
Name: 156, dtype: object
157  Unnamed: 0                                                 1779414
tweet_id                                       1202956415180136448
writer                                                     actjon_
post_date                                               2019-12-06
body             $spy stocktwits isnâ€™t healthy for wealthy gain...
comment_num                                                      0
retweet_num                                                      1
like_num                                                         1
ticker_symbol                                                 TSLA
clean_message     spy stocktwits isn t healthy for wealthy gain...
Sentiment                                                      NaN
Name: 157, dtype: object
158  Unnamed: 0                                                  109166
tweet_id                                        601358482533646337
writer                                               sergio_cuerda
post_date                                               2015-05-21
body             from @benzinga: is google's new photo service ...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 GOOG
clean_message    from benzinga is google s new photo service th...
Sentiment                                                      NaN
Name: 158, dtype: object
159  Unnamed: 0                                                 1068447
tweet_id                                       1036957744740347904
writer                                                    ko_strad
post_date                                               2018-09-04
body             $tsla gets a twofer when it levels falsehoods ...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         1
ticker_symbol                                                 TSLA
clean_message     tsla gets a twofer when it levels falsehoods ...
Sentiment                                                      NaN
Name: 159, dtype: object
160  Unnamed: 0                                                  453421
tweet_id                                        786622132650377216
writer                                                 AIREXmarket
post_date                                               2016-10-13
body             chipmaker #tsmc's q4 guidance points to strong...
comment_num                                                      0
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 AAPL
clean_message    chipmaker tsmc s q4 guidance points to strong ...
Sentiment                                                      NaN
Name: 160, dtype: object
161  Unnamed: 0                                          1668843
tweet_id                                1174416375663792129
writer                                      bhooper71372154
post_date                                        2019-09-18
body             up on $amzn call today......$happy trading
comment_num                                               0
retweet_num                                               0
like_num                                                  0
ticker_symbol                                          AMZN
clean_message     up on amzn call today...... happy trading
Sentiment                                               NaN
Name: 161, dtype: object
162  Unnamed: 0                                             39230
tweet_id                                  567220029259644928
writer                                              HBayasud
post_date                                         2015-02-16
body             $aapl why is she ripping higher in germany?
comment_num                                                0
retweet_num                                                0
like_num                                                   0
ticker_symbol                                           AAPL
clean_message     aapl why is she ripping higher in germany
Sentiment                                                NaN
Name: 162, dtype: object
163  Unnamed: 0                                                 1337666
tweet_id                                       1094733864839331842
writer                                                 Polixenes13
post_date                                               2019-02-10
body             most overlooked $tsla existential risk of them...
comment_num                                                      0
retweet_num                                                      2
like_num                                                        19
ticker_symbol                                                 TSLA
clean_message    most overlooked tsla existential risk of them ...
Sentiment                                                      NaN
Name: 163, dtype: object
164  Unnamed: 0                                                 1681348
tweet_id                                       1178180972946296832
writer                                             MarketSwingPlay
post_date                                               2019-09-29
body             what's new? msp algo iv gauge - speculation al...
comment_num                                                      0
retweet_num                                                      1
like_num                                                         0
ticker_symbol                                                 AAPL
clean_message    what is new msp algo iv gauge - speculation al...
Sentiment                                                      NaN
Name: 164, dtype: object
165  Unnamed: 0                                                 1371264
tweet_id                                       1102529051963596805
writer                                                  evdefender
post_date                                               2019-03-04
body             if you don't have something good to say about ...
comment_num                                                      1
retweet_num                                                      2
like_num                                                        12
ticker_symbol                                                 TSLA
clean_message    if you do not have something good to say about...
Sentiment                                                      NaN
Name: 165, dtype: object
166  Unnamed: 0                                                  431362
tweet_id                                        775266750564855808
writer                                                markbspiegel
post_date                                               2016-09-12
body             what about a unicorn? or would it just run rig...
comment_num                                                      1
retweet_num                                                      0
like_num                                                         4
ticker_symbol                                                 TSLA
clean_message    what about a unicorn or would it just run righ...
Sentiment                                                      NaN
Name: 166, dtype: object
167  Unnamed: 0                                                 1358519
tweet_id                                       1100409926357114880
writer                                                     guiboc1
post_date                                               2019-02-26
body             musk shows the finger to the sec and $tsla is ...
comment_num                                                      1
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 TSLA
clean_message    musk shows the finger to the sec and tsla is b...
Sentiment                                                      NaN
Name: 167, dtype: object
168  Unnamed: 0                                                 1702994
tweet_id                                       1184454018732445696

In [13]:
print(index, '', row)

181  Unnamed: 0                                                 1035400
tweet_id                                       1030319910063366145
writer                                                   PlugInFUD
post_date                                               2018-08-17
body             sec investing multiple things, internal counse...
comment_num                                                      1
retweet_num                                                      0
like_num                                                         0
ticker_symbol                                                 TSLA
clean_message    sec investing multiple things, internal counse...
Sentiment                                                      NaN
Name: 181, dtype: object

In [ ]:
index

In [27]:
df_test[57:58]

,Unnamed: 0,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,clean_message,Sentiment
206233,217960,659335482510331904,WallStreetMainS,2015-10-28,$aapl guidance very strong. will likely beat t...,0,0,0,AAPL,aapl guidance very strong. will likely beat t...,None

In [35]:
num = 0
for ind, row in df_test.iterrows():
    num = num + 1
    if ind == index:
        break
print(f"Total of {num} rows updated.")

Total of 212 rows updated.

In [77]:
def to_int(x):
    if x is None or x == "":
        return 0
    else:
        return int(x)


df_test["Sentiment"] = df_test["Sentiment"].apply(lambda x: to_int(x))

df_test["Count"] = df_test["Sentiment"] == df_test["sentiment_analysis"]

#transform string to int

<ipython-input-77-e0c653014876>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["Sentiment"] = df_test["Sentiment"].apply(lambda x: to_int(x))
<ipython-input-77-e0c653014876>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["Count"] = df_test["Sentiment"] == df_test["sentiment_analysis"]

In [79]:
df_test.sum()

<ipython-input-79-6ca408b47255>:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_test.sum()

Unnamed: 0                                                       507986
tweet_id                                           -2296998721481367074
post_date             2015-01-012015-01-012015-01-012015-01-012015-0...
body                  insanity of today weirdo massive selling. $aap...
comment_num                                                         211
retweet_num                                                         242
like_num                                                            609
ticker_symbol         AAPLAAPLAAPLAAPLGOOGAAPLAAPLGOOGAAPLAAPLAAPLMS...
clean_message         insanity of today weirdo massive selling. aapl...
sentiment_analysis                                                  380
fls_classification                                                  199
Sentiment                                                            62
Count                                                               742
dtype: object